body {
    font-family: Arial, sans-serif;
    background-color: #452338;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../img/CosmicImage.jpeg');
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    font-family: "Oswald", sans-serif;
    line-height: 1.5;
}

#NASAlogo{
    width: 100px;
    height: auto;
    padding: 10px 0;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
}

input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 20px 0;
    background-color: #3d404f;
    color: #fff;
    font-family: "Oswald", sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #004ca8;
    color: white;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

button:hover {
    background-color: #00bcfb;
}

#apodContent {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}